<th:block th:insert="fragments/_head :: head"></th:block>

<th:block th:insert="fragments/_navbar :: navbar"></th:block>

<h1>Ajouter une peinture</h1>
<div class="card w-75 mx-auto">
    <div class="card-body">
        <form th:action="@{/artist/add-painting}" method="post" enctype="multipart/form-data">
            <label for="title">Titre <span class="text-danger">*</span></label>
            <input type="text" id="title" class="form-control" th:field="${painting.title}">
            <label for="description">Description <span class="text-danger">*</span></label>
            <input type="text" id="description" class="form-control" th:field="${painting.description}">
            <label for="image">Image <span class="text-danger">*</span></label>
            <input type="file" id="file" name="file" class="form-control">
            <button class="btn btn-warning mt-3">Valider</button>
        </form>
    </div>
</div>

<th:block th:insert="fragments/_footer :: footer "></th:block>