<th:block th:insert="fragments/_head :: head"></th:block>

<th:block th:insert="fragments/_navbar :: navbar"></th:block>

<main class="container">
    <h1 class="mt-4">Manage</h1>
    <button class="btn btn-warning"><a th:href="@{/admin/manage-users}">Manage users</a></button>
    <button class="btn btn-warning"><a th:href="@{/admin/manage-artists}">Manage artists</a></button>
</main>

<th:block th:insert="fragments/_footer :: footer"></th:block>