<th:block th:fragment="navbar">
    <nav class="px-4 row m-0">
        <div class="col-md-9">
            <a th:href="@{/}"><img th:src="@{/images/simplart.png}" class="img-fluid logo my-2" alt="simpl'art title"></a>
        </div>
        <div class="col-md-3">
            <nav id="navbar" class="p-0 text-end mt-3">
                <p class="m-0">
                    <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-bars fa-2x"></i>
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="">
                        <ul>
                            <li class="nav-item px-2 text-start mb-3" sec:authorize="isAuthenticated">
                                <form th:action="@{/logout}" method=post>
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                    <button class="p-0"><i class="fas fa-power-off"></i></button>
                                </form>
                            </li>
                            <li class=" nav-item px-2 text-start" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-link p-0" th:href="@{/admin/manage}">Admin</a>
                            </li>
                            <li class=" nav-item px-2 text-start" sec:authorize="hasRole('ROLE_USER')">
                                <a class="nav-link p-0" th:href="@{/user/account}">User</a>
                            </li>
                            <li class="nav-item px-2 text-start" sec:authorize="!isAuthenticated()">
                                <a class="nav-link p-0" th:href="@{/user-register}">S'inscrire</a>
                            </li>
                            <li class="nav-item px-2 text-start" sec:authorize="!isAuthenticated()">
                                <a class="nav-link p-0" th:href="@{/login}">Se connecter</a>
                            </li>
                            <li class="nav-item px-2 text-start" sec:authorize="hasRole('ROLE_ARTIST')">
                                <a class="nav-link p-0" th:href="@{/artist/account}">Le coin des artistes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
</th:block>