<th:block th:insert="fragments/_head :: head"></th:block>

<th:block th:insert="fragments/_navbar :: navbar"></th:block>

<main id="one-painting" class="container">
    <h3 th:text="${category.name}" class="my-5"></h3>
    <div class="row">
        <div class="col-md-6">
            <ul class="text-center mb-5" th:each="category : ${categories}">
                <li th:text="${category.name}"></li>
            </ul>
        </div>
        <div th:each="painting : ${paintings}">
            <p th:text=${painting.title}></p>
            <p><img th:src="${painting.image}" alt=""></p>
            <p th:text="${painting.description}"></p>
        </div>
    </div>
</main>

<th:block th:insert="fragments/_footer :: footer"></th:block>