<th:block th:insert="fragments/_head :: head"></th:block>

<th:block th:insert="fragments/_navbar :: navbar"></th:block>

<main id="account" class="container">
    <div class="mt-5">
        <h3>Hello <span th:text="${artist.firstName}"></span></h3>
        <p th:text="${artist.email}"></p>
    </div>

    <div class="painting row mx-0 mt-5">
        <div class="col-md-6">
            <h5>Tes peintures</h5>
        </div>
        <div class="col-md-6">
            <div class="text-end"><button class="btn btn-warning"><a th:href="@{/artist/add-painting/}">Add</a></button></div>
        </div>
        <div class="col-md-4" th:each="painting : ${paintings}">
            <div>
                <img th:src="${painting.image}" class="card-img-top" alt="${painting.title}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${painting.title}"></h5>
                    <p class="card-text" th:text="${painting.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="fragments/_footer :: footer"></th:block>