<th:block th:insert="fragments/_head :: head"></th:block>

<th:block th:insert="fragments/_navbar :: navbar"></th:block>

<main class="container">
    <div class="text-center mt-5">
        <h1>Nous revenons vite !</h1>
        <p>
            <a th:href="@{/}">Accueil</a>.
        </p>
    </div>
</main>
<th:block th:insert="fragments/_footer :: footer"></th:block>