<th:block th:insert="fragments/_head :: head"></th:block>

<th:block th:insert="fragments/_navbar :: navbar"></th:block>

<main id="home" class="container-fluid p-0">
    <h1>Connexion</h1>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <form th:action="@{/login}" method="post">
                <label for="email">Email <span class="text-danger">*</span></label>
                <p class="m-0 text-danger"></p>
                <input type="email" id="email" class="form-control" name="username">
                <label for="password">Password <span class="text-danger">*</span></label>
                <p class="m-0 text-danger"></p>
                <input type="password" id="password" class="form-control" name="password">
                <button class="btn btn-warning mt-3">Valider</button>
            </form>
        </div>
    </div>
</main>
<th:block th:insert="fragments/_footer :: footer"></th:block>