<th:block th:insert="fragments/_head :: head"></th:block>

<th:block th:insert="fragments/_navbar :: navbar"></th:block>

<main class="container">
    <h1 class="mt-4 mb-5">Inscription utilisateur</h1>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <p class="text-danger" th:if="${feedback}" th:text="${feedback}"></p>
            <form th:action="@{/user-register}" method="post">
                <label for="firstName">Prénom <span class="text-danger">*</span></label>
                <p class="m-0 text-danger" th:errors="${user.firstName}"></p>
                <input type="text" id="firstName" class="form-control" th:classappend="${#fields.hasErrors('user.firstName')} ? 'is-invalid'" th:field="${user.firstName}">

                <label for="lastName">Nom <span class="text-danger">*</span></label>
                <p class="m-0 text-danger" th:errors="${user.lastName}"></p>
                <input type="text" id="lastName" class="form-control" th:classappend="${#fields.hasErrors('user.lastName')} ? 'is-invalid'" th:field="${user.lastName}">

                <label for="email">Email <span class="text-danger">*</span></label>
                <p class="m-0 text-danger" th:errors="${user.email}"></p>
                <input type="email" id="email" class="form-control" th:classappend="${#fields.hasErrors('user.email')} ? 'is-invalid'" th:field="${user.email}">

                <label for="password">Password <span class="text-danger">*</span></label>
                <p class="m-0 text-danger" th:errors="${user.password}"></p>
                <input type="password" id="password" class="form-control" th:classappend="${#fields.hasErrors('user.password')} ? 'is-invalid'" th:field="${user.password}">

                <button class="btn btn-warning mt-3">Valider</button>
            </form>
        </div>
    </div>
</main>
<th:block th:insert="fragments/_footer :: footer"></th:block>